.profile__avatar {
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
}
@media screen and (max-width: 670px) {
    .profile__avatar {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}