.card__like {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/heart.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s;
}
.card__like:active {
    outline: none;
    background-image: url(../../../images/heart-active.svg);
}
.card__like:focus { 
    outline: none;
}
.card__like:hover {
    opacity: .5;
}