.popup__close-big-image {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 40px;
    height: 40px;
    background-image: url(../../../images/close.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s;
}
.popup__close-big-image:active, .popup__close-big-image:focus {
    outline: none;
}
.popup__close-big-image:hover {
    opacity: .6;
}
@media screen and (max-width: 670px) {
    .popup__close-big-image {
        right: 5px;
        width: 26px;
        height: 26px;
    }
}